<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Bài viết chi tiết</title>
    <link rel="stylesheet" href="./js/library/aos/aos.css" />
    <link ref="stylesheet" href="./js/library/swiper/swiper-bundle.min.css" />
  </head>

  <body>
    <header class="header">
      <div class="header-nav">
        <div class="menu-nav">
          <!-- Cấu trúc html menu -->
          <ul class="menu-list">
            <li class="menu-item current-menu-item">
              <a href="" class="menu-link"> Demo </a>
            </li>
            <li class="menu-item dropdown">
              <a href="" class="menu-link"> Demo </a>
              <ul class="menu-list">
                <li class="menu-item">
                  <a href="" class="menu-link"> Demo </a>
                </li>
                <li class="menu-item dropdown">
                  <a href="" class="menu-link"> Demo </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <main class="main">
        
      
    <div class="post">
        <div class="container">
            <div class="breadcrumb mt-30">
                <div class="t14 breadcrumb-link">
                  <a href="">Trang chủ /</a>
                  <a href="" class="t14 fw-7 current">Kolan</a>
                </div>
              </div>
        </div>

        <div class="post-banner sec-py">
            <div class="post-banner-top"  >
                <div class="post-banner-box" data-aos="zoom-in"
                data-aos-duration="1500">
                    <div class="post-banner-content">
                        <p class="t36 decor-text">Kolan</p>
                        <p class="t32 c-pri fw-7 mb-20">Ra mắt bộ sản phẩm mới với chiết xuất 100% thiên nhiên từ lá chùm ngây</p>
                        <div class="d-flex j-beweent">
                            <div class="date">
                                <span>14 tháng 6, 2023</span>
                            </div>
                            <div class="social d-flex">
                                <a href="" class="icon">
                                    <img src="assets/images/spt-img/icon-y.png" alt="">
                                </a>
                                <a class="icon">
                                    <img src="assets/images/spt-img/icon-i.png" alt="">
                                </a>
                                <a class="icon">
                                    <img src="assets/images/spt-img/icon-t.png" alt="">
                                </a>
                                <a class="icon">
                                    <img src="assets/images/spt-img/icon-f.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-banner-bot mt-50">
                <div class="box">
                    <img src="assets/images/spt-img/banner-post.png" alt="">
                </div>
            </div>
        </div>

        <div class="slogan" data-aos="fade-up"
        data-aos-duration="1500">
            <div class="container">
                <div class="slogan-wrap">
                    <div class="slogan-inner">
                        <div class="slogan-decor">
                            <img src="assets/images/spt-img/slogan-1.png" alt="">
                        </div>
                        <div class="slogan-decor">
                            <img src="assets/images/spt-img/slogan-2.png" alt="">
                        </div>
                        <div class="slogan-decor">
                            <img src="assets/images/spt-img/slogan-3.png" alt="">
                        </div>
                        <div class="slogan-content">
                            <p class="t32 f-third text">Chúng tôi <span class="c-pri t40 fw-7">yêu cái đẹp</span> và muốn chia sẻ truyền tải điều đó đến thế giới</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-content sec-py">
            <div class="container">

            <div class="post-content-top">
                <div class="post-content-block d-flex">
                    <div class="post-img"data-aos="zoom-in"
                    data-aos-duration="1500">
                        <div class="box">
                            <img src="assets/images/spt-img/post-img.png" alt="">
                        </div>
                    </div>
                    <div class="post-desc"data-aos="zoom-in"
                    data-aos-duration="2500">
                        <div class="text">
                            <p class="fw-7 t24 mb-20">Làm đẹp trong thời khắc giao mùa hòa quyện với sức hút của kem chống nắng chùm ngây Kolan</p>
                            <ul>
                                <li class="mb-20">Ngăn chặn các tia UVA, UVB và tia sáng tiêu cực từ ánh nắng như: tia hồng ngoại (IR-A), tia sáng năng lượng cao (HEV);</li>
                                <li class="mb-20">Bổ sung hoạt chất dưỡng ẩm cao giúp làm dịu làn da. </li>
                                <li class="mb-20">Công thức tiên tiến mới với kết cấu kem mịn màng, dễ thấm vào da.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="post-content-block d-flex">
                    <div class="post-img" data-aos="zoom-in"
                    data-aos-duration="1500">
                        <div class="box">
                            <img src="assets/images/spt-img/post-img.png" alt="">
                        </div>
                    </div>
                    <div class="post-desc" data-aos="zoom-in"
                    data-aos-duration="2500">
                        <div class="text">
                            <p class="fw-7 t24 mb-20">Bảo vệ làn da toàn diện -  Sáng mịn đón hè rạng ngời</p>
                            <p>Nắng nóng, tia uv hoạt động mạnh mẽ vào mùa hè khiến da chúng ta đen sạm, khô sần da lão hóa, nám, tàn nhanh và khiến các bước dưỡng da khác trở nên vô dụng. Làn da hay bị ửng đỏ, khô ráp khi đi ngoài đường dưới ánh nắng gắt của ngày hè, mồ hôi cuốn trôi hết hiệu quả của các loại dưỡng da vì không được kem chống nắng bảo vệ. Vậy nên, Kem Chống Nắng Chùm Ngây KOLAN® chính là vật bất ly thân của làn da mà các nàng không thể thiếu. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-content-bot">
                <p class="t24 fw-7 title mb-20" data-aos="fade-right"
                data-aos-offset="300"
                data-aos-easing="ease-in-sine">
                    Làm đẹp trong thời khắc giao mùa hòa quyện với sức hút của kem chống nắng Kolan
                </p>
                <div class="d-flex desc">
                    <div class="left" data-aos="fade-right"
                    data-aos-offset="300"
                    data-aos-easing="ease-in-sine">
                        <p>Nắng nóng, tia uv hoạt động mạnh mẽ vào mùa hè khiến da chúng ta đen sạm, khô sần da lão hóa, nám, tàn nhanh và khiến các bước dưỡng da khác trở nên vô dụng. Làn da hay bị ửng đỏ, khô ráp khi đi ngoài đường dưới ánh nắng gắt của ngày hè, mồ hôi cuốn trôi hết hiệu quả của các loại dưỡng da vì không được kem chống nắng bảo vệ. Vậy nên, Kem Chống Nắng Chùm Ngây KOLAN® chính là vật bất ly thân của làn da mà các nàng không thể thiếu. Nắng nóng, tia uv hoạt động mạnh</p>
                    </div>
                    <div class="right" data-aos="fade-left"
                    data-aos-offset="300"
                    data-aos-easing="ease-in-sine">
                        <p>mẽ vào mùa hè khiến da chúng ta đen sạm, khô sần da lão hóa, nám, tàn nhanh và khiến các bước dưỡng da khác trở nên vô dụng. Làn da hay bị ửng đỏ, khô ráp khi đi ngoài đường dưới ánh nắng gắt của ngày hè, mồ hôi cuốn trôi hết hiệu quả của các loại dưỡng da vì không được kem chống nắng bảo vệ.</p>
                    </div>
                </div>
               
            </div>
        </div>

        </div>

        <section class="lpost">
            <div class="container">
                <div class="lpost-wrap">
                    <h2 class="t-title t-center mb-50">Bài viết mới nhất</h2>
                    <div class="lpost-slide">
                        <div class="swiper lpostSwiper">
                            <div class="swiper-wrapper">

                              <div class="swiper-slide" data-aos="zoom-out-up">
                                <div class="blog-item">
                                    <div class="blog-img">
                                      <div class="blog-img-box">
                                        <a href="" class="blog-link">
                                          <img
                                            src="assets/images/spt-img/fblog-img.png"
                                            alt=""
                                          />
                                        </a>
                                      </div>
                                    </div>
                                    <span class="blog-time mt-15 mb-15 d-block t-center">
                                      14 tháng 6, 2023
                                    </span>
                                    <a href="" class="blog-title t-center t16 fw-6">
                                      Ra mắt bộ sản phẩm mới với chiết xuất 100% thiên
                                      nhiên từ lá chùm ngây
                                    </a>
                                  </div>
                              </div>
                              <div class="swiper-slide" data-aos="zoom-out-up">
                                <div class="blog-item">
                                    <div class="blog-img">
                                      <div class="blog-img-box">
                                        <a href="" class="blog-link">
                                          <img
                                            src="assets/images/spt-img/fblog-img.png"
                                            alt=""
                                          />
                                        </a>
                                      </div>
                                    </div>
                                    <span class="blog-time mt-15 mb-15 d-block t-center">
                                      14 tháng 6, 2023
                                    </span>
                                    <a href="" class="blog-title t-center t16 fw-6">
                                      Ra mắt bộ sản phẩm mới với chiết xuất 100% thiên
                                      nhiên từ lá chùm ngây
                                    </a>
                                  </div>
                              </div>
                              <div class="swiper-slide" data-aos="zoom-out-up">
                                <div class="blog-item">
                                    <div class="blog-img">
                                      <div class="blog-img-box">
                                        <a href="" class="blog-link">
                                          <img
                                            src="assets/images/spt-img/fblog-img.png"
                                            alt=""
                                          />
                                        </a>
                                      </div>
                                    </div>
                                    <span class="blog-time mt-15 mb-15 d-block t-center">
                                      14 tháng 6, 2023
                                    </span>
                                    <a href="" class="blog-title t-center t16 fw-6">
                                      Ra mắt bộ sản phẩm mới với chiết xuất 100% thiên
                                      nhiên từ lá chùm ngây
                                    </a>
                                  </div>
                              </div>
                              <div class="swiper-slide" data-aos="zoom-out-up">
                                <div class="blog-item">
                                    <div class="blog-img">
                                      <div class="blog-img-box">
                                        <a href="" class="blog-link">
                                          <img
                                            src="assets/images/spt-img/fblog-img.png"
                                            alt=""
                                          />
                                        </a>
                                      </div>
                                    </div>
                                    <span class="blog-time mt-15 mb-15 d-block t-center">
                                      14 tháng 6, 2023
                                    </span>
                                    <a href="" class="blog-title t-center t16 fw-6">
                                      Ra mắt bộ sản phẩm mới với chiết xuất 100% thiên
                                      nhiên từ lá chùm ngây
                                    </a>
                                  </div>
                              </div>

                            </div>
                          </div>
                    </div>
                    <div class="lpost-viewall d-flex flex-center mt-30">
                        <a href="" class="btn">
                            <span class="text">
                                Xem chi tiết
                            </span>
                            <span class="icon">
                                <i class="fa-light fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </div>


    </main> 

    <footer class="footer">
      <div class="footer-wrap"></div>
    </footer>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>
