<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Chi tiết đơn hàng</title>
    <link rel="stylesheet" href="./js/library/aos/aos.css" />
    <link ref="stylesheet" href="./js/library/swiper/swiper-bundle.min.css" />
  </head>

  <body>
    <header class="header">
      <div class="header-nav">
        <div class="menu-nav">
          <!-- Cấu trúc html menu -->
          <ul class="menu-list">
            <li class="menu-item current-menu-item">
              <a href="" class="menu-link"> Demo </a>
            </li>
            <li class="menu-item dropdown">
              <a href="" class="menu-link"> Demo </a>
              <ul class="menu-list">
                <li class="menu-item">
                  <a href="" class="menu-link"> Demo </a>
                </li>
                <li class="menu-item dropdown">
                  <a href="" class="menu-link"> Demo </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <main class="main">
        
        <div class="sec-pfcus mt-30">
            <div class="sec-pfcus-decor">
                <img src="assets/images/spt-img/pfcus-decor.png" alt="">
            </div>
            <div class="sec-pfcus-decor bot">
                <img src="assets/images/spt-img/rose.png" alt="">
            </div>
            <div class="container">
                <div class="breadcrumb">
                    <div class="t14 breadcrumb-link">
                      <a href="">Trang chủ /</a>
                      <a href="" class="t14 fw-7 current"
                        >Thông tin tài khoản</a
                      >
                    </div>
                  </div>
                <div class="pfcus mt-30">
                    <div class="pfcus-wrap">
                        <div class="pfcus-inner">
                            <div class="pfcus-flex">
                                <div class="pfcus-left">
                                    <div class="pfcus-tab">
                                        <div class="pfcus-head">
                                            <div class="pfcus-head-gr">
                                                <div class="icon-avt">
                                                    <img src="./assets/images/spt-img/avtmini.png" alt="">
                                                </div>
                                                <div class="pfcus-head-tgr">
                                                    <p class="tname">
                                                        Trà My
                                                    </p>
                                                    <a href="" class="tlink">Đăng xuất</a>
                                                </div>
                                            </div>
                                            <div class="pfcus-tab-list">
                                                <div class="pfcus-tab-item ">
                                                    <a href="" class="btn full">
                                                        <span class="icon">
                                                            <i class="fa-regular fa-user"></i>
                                                        </span>
                                                        <span class="text">
                                                            Thông tin tài khoản
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="pfcus-tab-item ">
                                                    <a href="" class="btn full">
                                                        <span class="icon">
                                                            <i class="fa-regular fa-lock-keyhole"></i>
                                                        </span>
                                                        <span class="text">
                                                            Thay đổi mật khẩu
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="pfcus-tab-item active">
                                                    <a href="" class="btn full">
                                                        <span class="icon">
                                                            <i class="fa-light fa-calendar-clock"></i>
                                                        </span>
                                                        <span class="text">
                                                            Lịch sử mua hàng
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pfcus-right">
                                 
                                    <div class="pfcus-info">
                                        <div class="pfcus-odt">
                                            <div class="pfcus-odt-if-head">
                                                <p class="fw-7 t24">
                                                    Chi tiết đơn hàng
                                                </p>
                                                <p class="t24 fw-7 c-four">
                                                    #FB2310
                                                </p>
                                                <div class="bx-status t-cxn">
                                                    <span class="fw-7 t14">Chờ xác nhận</span>
                                                </div>
                                            </div>

                                            <div class="pfcus-odt-steps">
                                                <div class="pfcus-odt-step">
                                                    <div class="pfcus-odt-box step-pass">
                                                        <div class="pfcus-odt-icon">
                                                            <span class="icon">
                                                                <img src="./assets/images/spt-img/Sent.png" alt="">
                                                            </span>
                                                        </div>
                                                        <div class="pfcus-odt-text">
                                                            <p class="text">
                                                                Đơn hàng đã đặt
                                                            </p>
                                                            <p class="t-time">
                                                                23:10 20/07/2023
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pfcus-odt-step active">
                                                    <div class="pfcus-odt-box">
                                                        <div class="pfcus-odt-icon">
                                                            <span class="icon">
                                                                <img src="./assets/images/spt-img/Credit card.png" alt="">
                                                            </span>
                                                        </div>
                                                        <div class="pfcus-odt-text">
                                                            <p class="text">
                                                                Xác nhận thông tin
                                                            </p>
                                                            <p class="t-time">
                                                                23:10 20/07/2023
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pfcus-odt-step">
                                                    <div class="pfcus-odt-box">
                                                        <div class="pfcus-odt-icon">
                                                            <span class="icon">
                                                                <img src="./assets/images/spt-img/Credit card.png" alt="">
                                                            </span>
                                                        </div>
                                                        <div class="pfcus-odt-text">
                                                            <p class="text">
                                                                Xác nhận thông tin
                                                            </p>
                                                            <p class="t-time">
                                                                23:10 20/07/2023
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pfcus-odt-step">
                                                    <div class="pfcus-odt-box">
                                                        <div class="pfcus-odt-icon">
                                                            <span class="icon">
                                                                <img src="./assets/images/spt-img/Credit card.png" alt="">
                                                            </span>
                                                        </div>
                                                        <div class="pfcus-odt-text">
                                                            <p class="text">
                                                                Xác nhận thông tin
                                                            </p>
                                                            <p class="t-time">
                                                                23:10 20/07/2023
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pfcus-odt-if">
                                                <p class="mb-10">
                                                                <span class="fw-6 t16">Ngày đặt
                                                                    hàng:</span> 20 tháng 7,
                                                                2023
                                                            </p>
                                                            <p>
                                                                <span class="fw-6 t16">Lưu ý đơn hàng: </span>Lorem
                                                                Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng
                                                                vào việc trình bày.
                                                            </p>
                                                <div class="pfcus-odt-flex mt-10">
                                                    
                                                    <div class="pfcus-odt-left">
                                                        
                                                        <div class="pfcus-odt-if-content mt-20">
                                                            
                                                            <div class="pfcus-odt-if-detail mt-10">
                                                                <p class="fw-6 t16 mb-20">
                                                                    Chi tiết đơn hàng:
                                                                </p>
                                                                <div class="pfcus-odt-if-list">
                                                                    <div class="pfcus-odt-if-item">
                                                                        <div class="pfcus-odt-if-gr">
                                                                            <div class="pfcus-odt-if-img">
                                                                                <img src="./assets/images/spt-img/img-de.png"
                                                                                    alt="">
                                                                            </div>
                                                                            <div class="pfcus-odt-if-text">
                                                                                <p class="txt">
                                                                                    Bông tắm xơ mướp tự nhiên - KOLAN
                                                                                </p>
                                                                                <p class="text">
                                                                                    1 x 450.000đ
                                                                                </p>
                                                                            </div>
                                                                            <div class="pfcus-odt-if-price">
                                                                                <p class="c-four fw-7">
                                                                                    450.000đ
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="pfcus-odt-if-item">
                                                                        <div class="pfcus-odt-if-gr">
                                                                            <div class="pfcus-odt-if-img">
                                                                                <img src="./assets/images/spt-img/img-de.png"
                                                                                    alt="">
                                                                            </div>
                                                                            <div class="pfcus-odt-if-text">
                                                                                <p class="txt">
                                                                                    Bông tắm xơ mướp tự nhiên - KOLAN
                                                                                </p>
                                                                                <p class="text">
                                                                                    1 x 450.000đ
                                                                                </p>
                                                                            </div>
                                                                            <div class="pfcus-odt-if-price">
                                                                                <p class="c-four fw-7">
                                                                                    450.000đ
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="pfcus-odt-if-item">
                                                                        <div class="pfcus-odt-if-gr">
                                                                            <div class="pfcus-odt-if-img">
                                                                                <img src="./assets/images/spt-img/img-de.png"
                                                                                    alt="">
                                                                            </div>
                                                                            <div class="pfcus-odt-if-text">
                                                                                <p class="txt">
                                                                                    Bông tắm xơ mướp tự nhiên - KOLAN
                                                                                </p>
                                                                                <p class="text">
                                                                                    1 x 450.000đ
                                                                                </p>
                                                                            </div>
                                                                            <div class="pfcus-odt-if-price">
                                                                                <p class="c-four fw-7">
                                                                                    450.000đ
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pfcus-odt-right">
                                                        <div class="pfcus-odt-bl">
                                                            <div class="pfcus-odt-bl-inner">
                                                                <div class="pfcus-odt-bl-list">
                                                                    <div class="pfcus-odt-bl-gr">
                                                                        <p class="c-white t14">
                                                                            Thành tiền
                                                                        </p>
                                                                        <p class="c-white fw-6">
                                                                            4,500,000đ
                                                                        </p>
                                                                    </div>
                                                                    <div class="pfcus-odt-bl-gr">
                                                                        <p class="c-white t14">
                                                                            Vận chuyển
                                                                        </p>
                                                                        <p class="c-white fw-6">
                                                                            30,000đ
                                                                        </p>
                                                                    </div>
                                                                    <div class="pfcus-odt-bl-gr">
                                                                        <p class="c-white t14">
                                                                            Hình thức thanh toán
                                                                        </p>
                                                                        <p class="c-white fw-6 t16 t-end">
                                                                            Thanh toán khi nhận hàng
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="pfcus-odt-bl-total">
                                                                    <p class="fw-7 t16 c-white">
                                                                        Tổng cộng
                                                                    </p>
                                                                    <p class="c-white fw-6 t16">
                                                                        4,500,000đ
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="btn trans">
                                                                <a href="" class="btn-inner">
                                                                    <span class="text">
                                                                        Hủy đơn hàng
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="footer">
      <div class="footer-wrap"></div>
    </footer>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>
