<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="stylesheet" href="./css/backdoor.css" />
  <link rel="icon" type="image/png" href="./assets/images/mona.png" />
  <title>Chi tiết sản phẩm</title>
  <link rel="stylesheet" href="./js/library/aos/aos.css" />
  <link ref="stylesheet" href="./js/library/swiper/swiper-bundle.min.css" />
</head>

<body>
  <header class="header">
    <div class="header-nav">
      <div class="menu-nav">
        <!-- Cấu trúc html menu -->
        <ul class="menu-list">
          <li class="menu-item current-menu-item">
            <a href="" class="menu-link"> Demo </a>
          </li>
          <li class="menu-item dropdown">
            <a href="" class="menu-link"> Demo </a>
            <ul class="menu-list">
              <li class="menu-item">
                <a href="" class="menu-link"> Demo </a>
              </li>
              <li class="menu-item dropdown">
                <a href="" class="menu-link"> Demo </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="pdp">
      <div class="container">
        <div class="pdp-main">
          <div class="breadcrumb">
            <div class="t14 breadcrumb-link">
              <a href="">Trang chủ /</a>
              <a href="">Sản phẩm /</a>
              <a href="" class="t14 fw-7 current">Sữa Tắm Body Shower Gel Hoa Hồng KOLAN 500ml</a>
            </div>
          </div>

          <div class="pdp-inner sec-py">

            <div class="pdp-ctn">
              <div class="pdp-ctn-flex d-flex">

                <div class="pdp-thumb">
                  <div class="pdp-thumb-content">
                    <div class="pdp-btnthumb">
                      <div class="swiper-button-next pdp-btnthumb-next"></div>
                      <div class="swiper-button-prev pdp-btnthumb-prev"></div>
                    </div>

                    <div thumbsSlider="" class="swiper pdp-thumb-ctn tmySwiper">
                      <div class="swiper-wrapper pdp-twrapper">
                        <div class="swiper-slide pdp-tslide">
                          <div class="inner scroll-button">
                            <a href="#box1">
                              <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                            </a>

                          </div>
                        </div>
                        <div class="swiper-slide pdp-tslide">
                          <div class="inner scroll-button">
                            <a href="#box2" id="">
                              <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                            </a>
                          </div>
                        </div>
                        <div class="swiper-slide pdp-tslide">
                          <div class="inner scroll-button">
                            <a href="#box3" id="">
                              <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                            </a>
                          </div>
                        </div>
                        <div class="swiper-slide pdp-tslide">
                          <div class="inner scroll-button">
                            <a href="#box3" id="">
                              <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                            </a>
                          </div>
                        </div>
                        <div class="swiper-slide pdp-tslide">
                          <div class="inner scroll-button">
                            <a href="#box3" id="">
                              <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                            </a>
                          </div>
                        </div>
                        <div class="swiper-slide pdp-tslide">
                          <div class="inner scroll-button">
                            <a href="#box3" id="">
                              <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                            </a>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="pdp-feature">
                  <div class="swiper pdpfeatureSwipper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="box section-to-scroll">
                          <img id="box1" src="assets/images/spt-img/pdp-fe.png" alt="" />
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="box section-to-scroll">
                          <img id="box2" src="assets/images/spt-img/pdp-fe.png" alt="" />
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="box section-to-scroll">
                          <img id="box3" src="assets/images/spt-img/pdp-fe.png" alt="" />
                        </div>
                      </div>
                    </div>
                    <div class="swiper-pagination d-none"></div>
                  </div>
                </div>


                <div class="pdp-desc">
                  <div class="pdp-desc-ctn">
                    <div class="pdp-desc-box">
                      <h2 class="t24 decor-text">Tắm & Dưỡng thể</h2>
                      <h1 class="t-title">
                        Sữa Tắm Body Shower Gel Chùm Ngây KOLAN 500ml
                      </h1>
                      <span class="price t24 c-four fw-7"> 350.000đ </span>
                      <div class="pdp-desc-flex d-flex j-beweent align-center">
                        <div class="quantity">
                          <span class="t16 fw-6">Số lượng:</span>
                          <div class="quantity-count">
                            <div class="count">
                              <div class="count-btn count-minus">
                                <i class="fas fa-minus icon"></i>
                              </div>
                              <input type="text" value="1" max="12" min="0" class="count-input" hidden="" />
                              <p class="count-number"></p>
                              <div class="count-btn count-plus">
                                <i class="fas fa-plus icon"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a href="" class="btn bg-pri">
                          <span class="icon">
                            <i class="fa-light fa-bag-shopping"></i>
                          </span>
                          <span class="text"> Thêm vào giỏ hàng </span>
                        </a>
                      </div>
                    </div>
                    <div class="pdp-desc-box">
                      <h2 class="t24 decor-text mb-20">Mô tả sản phẩm</h2>
                      <h2 class="t16 fw-7 mb-10">
                        Sữa Tắm Body Shower Gel Chùm Ngây KOLAN 500ml
                      </h2>
                      <p class="t16 mb-20">
                        KOLAN dòng thương hiệu mỹ phẩm từ năm 1972 với sứ
                        mệnh mang lại vẻ đẹp tinh tế và thuần khiết cho
                        người Việt Nam. Sữa tắm thiên nhiên KOLAN BODY
                        SHOWER GEL có chứa chiết xuất lá chùm ngây là sự hòa
                        quyện đặc biệt từ tinh hoa đất trời với nhiều loại
                        thảo mộc, hoa cỏ, được bổ sung tinh dầu thiên nhiên
                        giúp nuôi dưỡng làn da mịn màng hơn, làm sạch tế bào
                        da chết, giữ ẩm và lưu lại hương thơm tinh tế trên
                        làn da.
                      </p>
                      <p class="t16 fw-7 mb-10">
                        Thương hiệu:<span class="t16 fw-4">Kolan</span>
                      </p>
                      <p class="t16 fw-7">
                        Thương hiệu:<span class="t16 fw-4">Kolan</span>
                      </p>
                    </div>
                    <div class="pdp-desc-box">
                      <h2 class="t24 decor-text mb-20">Công dụng</h2>
                      <ul>
                        <li>Làm sạch da, giữ ẩm và làm mềm mịn da</li>
                        <li>Lưu lại hương thơm cho da</li>
                      </ul>
                    </div>
                    <div class="pdp-desc-box">
                      <h2 class="t24 decor-text mb-20">Thành phần</h2>
                      <p class="t16">
                        KOLAN dòng thương hiệu mỹ phẩm từ năm 1972 với sứ
                        mệnh mang lại vẻ đẹp tinh tế và thuần khiết cho
                        người Việt Nam. Sữa tắm thiên nhiên KOLAN BODY
                        SHOWER GEL có chứa chiết xuất lá chùm ngây là sự hòa
                        quyện đặc biệt từ tinh hoa đất trời với nhiều loại
                        thảo mộc, hoa cỏ, được bổ sung tinh dầu thiên nhiên
                        giúp nuôi dưỡng làn da mịn màng hơn, làm sạch tế bào
                        da chết, giữ ẩm và lưu lại hương thơm tinh tế trên
                        làn da.
                      </p>
                    </div>
                    <div class="pdp-desc-box">
                      <h2 class="t24 decor-text mb-20">Bảo quản</h2>
                      <ul>
                        <li>Nơi khô mát, tránh ánh nắng trực tiếp.</li>
                        <li>Lưu lại hương thơm cho da</li>
                      </ul>
                    </div>
                    <div class="pdp-desc-box">
                      <h2 class="t24 decor-text mb-20">Lưu ý</h2>
                      <p class="t16">
                        Tránh tiếp xúc với mắt. Nếu sản phẩm dính vào mắt,
                        phải rửa kỹ với nước sạch.
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="reproduct sec-py">
      <div class="container">
        <div class="reproduct-wrap">
          <h1 class="t-title t-center">sản phẩm liên quan</h1>
          <div class="reproduct-ctn">
            <div class="swiper reproductswiper mt-50">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="p-item">
                    <div class="p-img">
                      <div class="p-box">
                        <a href="">
                          <img src="assets/images/spt-img/pimg.png" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="p-desc mt-20">
                      <a href="" class="t16 fw-6">Son nhung hoa 5g - KOLAN</a>
                      <div class="p-bot d-flex align-center j-beweent mt-20">
                        <div class="price t16 fw-6 c-four ">350.000đ</div>
                        <div class="btnc">
                          <span class="icon">
                            <i class="fa-light fa-bag-shopping"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="p-item">
                    <div class="p-img">
                      <div class="p-box">
                        <a href="">
                          <img src="assets/images/spt-img/pimg.png" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="p-desc mt-20">
                      <a href="" class="t16 fw-6">Son nhung hoa 5g - KOLAN</a>
                      <div class="p-bot d-flex align-center j-beweent mt-20">
                        <div class="price t16 fw-6 c-four ">350.000đ</div>
                        <div class="btnc">
                          <span class="icon">
                            <i class="fa-light fa-bag-shopping"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="p-item">
                    <div class="p-img">
                      <div class="p-box">
                        <a href="">
                          <img src="assets/images/spt-img/pimg.png" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="p-desc mt-20">
                      <a href="" class="t16 fw-6">Son nhung hoa 5g - KOLAN</a>
                      <div class="p-bot d-flex align-center j-beweent mt-20">
                        <div class="price t16 fw-6 c-four ">350.000đ</div>
                        <div class="btnc">
                          <span class="icon">
                            <i class="fa-light fa-bag-shopping"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="p-item">
                    <div class="p-img">
                      <div class="p-box">
                        <a href="">
                          <img src="assets/images/spt-img/pimg.png" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="p-desc mt-20">
                      <a href="" class="t16 fw-6">Son nhung hoa 5g - KOLAN</a>
                      <div class="p-bot d-flex align-center j-beweent mt-20">
                        <div class="price t16 fw-6 c-four ">350.000đ</div>
                        <div class="btnc">
                          <span class="icon">
                            <i class="fa-light fa-bag-shopping"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>


            </div>
            <div class="reproduct-btn-swiper">
              <div class="swiper-button-next swiper-reproduct-next next swiper-custom-next"></div>
              <div class="swiper-button-prev swiper-reproduct-prev prev swiper-custom-prev"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="footer-wrap"></div>
  </footer>
  <div class="back-to-top backToTop">
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
  </div>
  <script src="./js/library/jquery/jquery.js"></script>
  <script src="./js/library/swiper/swiper-bundle.min.js"></script>
  <script src="./js/library/aos/aos.js"></script>
  <script src="./js/library/select2/select2.min.js"></script>
  <script src="./js/library/gallery/lightgallery-all.min.js"></script>
  <script src="./js/library/jquery/jquery-migrate.js"></script>
  <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
  <script src="./js/library/datetime/moment.min.js"></script>
  <script src="./js/library/datetime/daterangepicker.min.js"></script>
  <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
  <script src="./js/library/fancybox/fancybox.umd.js"></script>
  <script src="./js/main.js" type="module"></script>
</body>

</html>