<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <title>Document</title>
</head>

<body>
    <!-- Title Page -->
    <div class="t-title">
        <h2>Sản phẩm bán chạy</h2>
    </div>
    <div class="t-title t-center">
        <h2>Sản phẩm bán chạy</h2>
    </div>
    <!-- Pagi -->
    <ul class="page-numbers">
        <li>
            <a href="" class="prev page-numbers" href=""><i class="fa fa-angle-left icon"></i></a>
        </li>
        <li>
            <span class="page-numbers current">1</span>
        </li>
        <li>
            <a href="" class="page-numbers">2</a>
        </li>
        <li>
            <a href="" class="page-numbers">3</a>
        </li>
        <li>
            <a href="" class="page-numbers">4</a>
        </li>
        <li>
            <a href="" class="next page-numbers"><i class="fa fa-angle-right icon"></i></a>
        </li>
    </ul>
    <!-- End pagi -->
    <a href="" class="btn">
        <span class="text">
            Xem chi tiết
        </span>
        <span class="icon">
            <i class="fa-light fa-arrow-right"></i>
        </span>
    </a>
    <!-- btn have bg -->
    <a href="" class="btn bg-pri">
        <span class="icon">
            <i class="fa-light fa-bag-shopping"></i>
        </span>
        <span class="text">
            Đặt mua
        </span>
    </a>
    <!-- btn border -->
    <a href="" class="btn btn-trans">
        <span class="text">
            Xem giỏ hàng
        </span>
    </a>
    <div class="btnc">
        <span class="icon">
            <i class="fa-light fa-arrow-right"></i>

        </span>
    </div>

    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>


</html>