<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Đăng ký</title>
    <link rel="stylesheet" href="./js/library/aos/aos.css" />
    <link ref="stylesheet" href="./js/library/swiper/swiper-bundle.min.css" />
  </head>

  <body>
    <header class="header">
      <div class="header-nav">
        <div class="menu-nav">
          <!-- Cấu trúc html menu -->
          <ul class="menu-list">
            <li class="menu-item current-menu-item">
              <a href="" class="menu-link"> Demo </a>
            </li>
            <li class="menu-item dropdown">
              <a href="" class="menu-link"> Demo </a>
              <ul class="menu-list">
                <li class="menu-item">
                  <a href="" class="menu-link"> Demo </a>
                </li>
                <li class="menu-item dropdown">
                  <a href="" class="menu-link"> Demo </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <main class="main">
        
       <div class="plogin sec-py">
        <div class="plogin-wrap">
            <div class="plogin-decor">
                <img src="assets/images/spt-img/plogin-decor.png" alt="">
            </div>
            <div class="container">
                <div class="plogin-flex d-flex">
                    <div class="plogin-left">
                        <div class="plogin-imgp" data-aos="zoom-in" data-aos-duration="2000">
                            <div class="inner">
                                <img src="./assets/images/spt-img/plogin-img.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="plogin-right">
                        <div class="plogin-block" data-aos="fade-up"
                        data-aos-duration="1500">
                            <p class="t-title t-center">
                                Đăng ký
                            </p>
                            <div class="plogin-form mt-30">
                                <form action="">
                                    <div class="ip-control">
                                        <label for="" class="t-label">
                                            Email/Số điện thoại
                                        </label>
                                        <div class="ip-feild">
                                            <input placeholder="Nhập email/số điện thoại của bạn" type="text">
                                        </div>
                                    </div>
                                    <div class="ip-control mt-30 ip-pass">
                                        <label for="" class="t-label">
                                            Mật khẩu
                                        </label>
                                        <div class="ip-feild">
                                            <i class="fas fa-eye-slash show-password icon"></i>
                                            <input placeholder="Nhập mật khẩu" type="password">
                                        </div>
                                    </div>
                                    <div class="ip-control mt-30 ip-pass">
                                        <label for="" class="t-label">
                                            Nhập lại mật khẩu
                                        </label>
                                        <div class="ip-feild">
                                            <i class="fas fa-eye-slash show-password icon"></i>
                                            <input placeholder="Nhập lại mật khẩu" type="password">
                                        </div>
                                    </div>
                                    <div class="ip-check mt-20 mb-50 t-center">
                                        <div class="recheck">
                                            <div class="recheck-block">
                                                <div class="recheck-item flex-center">
                                                    <input type="checkbox" name="" id="" class="recheck-input"
                                                        hidden="">
                                                    <div class="recheck-dot"></div>
                                                    <p class="recheck-text ">
                                                        Tôi đồng ý với <a href="" class="thv c-pri fw-7 t16">Điều
                                                            khoản sử dụng dịch vụ</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn bg-pri">
                                        <div class="btn-inner">
                                            <span class="text ">
                                                Đăng ký
                                            </span>
                                        </div>
                                    </button>
                                </form>
                                <div class="mt-20 text-mb t-center">
                                    <span>
                                        Bạn đã có tài khoản?
                                    </span>
                                    <a href="" class="c-four thv t16 fw-6">
                                        Đăng nhập
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>


    </main> 

    <footer class="footer">
      <div class="footer-wrap"></div>
    </footer>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>
