<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Chi tiết đơn hàng</title>
    <link rel="stylesheet" href="./js/library/aos/aos.css" />
    <link ref="stylesheet" href="./js/library/swiper/swiper-bundle.min.css" />
  </head>

  <body>
    <header class="header">
      <div class="header-nav">
        <div class="menu-nav">
          <!-- Cấu trúc html menu -->
          <ul class="menu-list">
            <li class="menu-item current-menu-item">
              <a href="" class="menu-link"> Demo </a>
            </li>
            <li class="menu-item dropdown">
              <a href="" class="menu-link"> Demo </a>
              <ul class="menu-list">
                <li class="menu-item">
                  <a href="" class="menu-link"> Demo </a>
                </li>
                <li class="menu-item dropdown">
                  <a href="" class="menu-link"> Demo </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <main class="main">
        
        <div class="sec-cstep">
            <div class="container">
                <div class="cstep">
                    <div class="cstep-odt-steps mt-30">

                        <div class="cstep-odt-step step-pass">
                            <div class="cstep-odt-box ">
                                <div class="cstep-odt-icon">
                                    <span class="icon">
                                        <img src="./assets/images/spt-img/Sent.png" alt="">
                                    </span>
                                    <span class="t16 fw-7 text">Tạo tài khoản</span>
                                </div>
                                
                            </div>
                        </div>

                        <div class="cstep-odt-step step-pass">
                            <div class="cstep-odt-box ">
                                <div class="cstep-odt-icon">
                                    <span class="icon">
                                        <img src="./assets/images/spt-img/Credit card.png" alt="">
                                    </span>
                                    <span class="t16 fw-7 text">Đặt hàng</span>

                                </div>
                            </div>
                        </div>

                        <div class="cstep-odt-step active">
                            <div class="cstep-odt-box ">
                                <div class="cstep-odt-icon">
                                    <span class="icon">
                                        <img src="./assets/images/spt-img/Credit card.png" alt="">
                                    </span>
                                    <span class="t16 fw-7 text">Thanh toán</span>

                                </div>
                            </div>
                        </div>

                        <div class="cstep-odt-step">
                            <div class="cstep-odt-box">
                                <div class="cstep-odt-icon">
                                    <span class="icon">
                                        <img src="./assets/images/spt-img/Credit card.png" alt="">
                                    </span>
                                    <span class="t16 fw-7 text">Xác nhận đơn</span>

                                </div>
                               
                            </div>
                        </div>

                        <div class="cstep-odt-step">
                            <div class="cstep-odt-box">
                                <div class="cstep-odt-icon">
                                    <span class="icon">
                                        <img src="./assets/images/spt-img/Credit card.png" alt="">
                                    </span>
                                    <span class="t16 fw-7 text">Thanh toán</span>

                                </div>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <section class="sec-cartod sec-py">
            <div class="container">
                <div class="cartod-complete">
                    <div class="cartod-complete-head t-center">
                        <p class="t-title">Đặt hàng thành công</p>
                        <p class="des mt-20">
                            Đơn hàng đã thiết lập thành công. Chúng tôi sẽ liên lạc trực tiếp <br> với quý khách để xác
                            nhận.
                        </p>
                    </div>

                          <div class="cartod-complete-block">
                        <div class="cartod-complete-icon">
                            <img src="./assets/images/spt-img/icon-complete.png" alt="">
                        </div>
                        <div class="cartod-complete-wrap">
                            <div class="cartod-complete-flex">
                                <div class="cartod-complete-left">
                                    <div class="cartod-complete-if">
                                        <p class="t24 fw-7 c-text t-center mb-30">
                                            Tóm tắt đơn hàng
                                        </p>
                                        <div class="cartod-complete-desc d-flex">

                                        <div class="cartod-complete-if-gr mb-30">
                                            <div class="cartod-complete-if-text">
                                                <p class="c-text">
                                                    Mã đơn hàng
                                                </p>
                                                <p class="fw-7 c-text">
                                                    #FB2310
                                                </p>
                                            </div>
                                            <div class="cartod-complete-if-text">
                                                <p class="c-text">
                                                    Ngày mua hàng
                                                </p>
                                                <p class="fw-7 c-text">
                                                    13 tháng 7,2023
                                                </p>
                                            </div>
                                        </div>
                                        <div class="cartod-complete-if-gr mb-30">
                                            <div class="cartod-complete-if-text">
                                                <p class="c-text">
                                                    Tổng cộng
                                                </p>
                                                <p class="fw-7 c-text">
                                                    4.500.00đ
                                                </p>
                                            </div>
                                            <div class="cartod-complete-if-text">
                                                <p class="c-text">
                                                    Hình thức thanh toán
                                                </p>
                                                <p class="fw-7 c-text">
                                                    Chuyển khoản ngân hàng
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    </div>
                                </div>
                                <div class="cartod-complete-right">
                                    <div class="cartod-complete-bank">
                                        <p class="c-text t24 fw-7 t-center mb-30 mt-60">
                                            Thông tin chuyển khoản
                                        </p>
                                        <div class="cartod-complete-bank-gr">
                                           
                                            <div class="cartod-complete-bank-if">
                                                <div class="top">
                                                    <div class="icon-bank">
                                                        <img src="./assets/images/spt-img/bank.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="bot">
                                                    <div class="cartod-complete-bank-text">
                                                  
                                                        <div class="text">
                                                            <p class="c-text txt">
                                                                Ngân hàng Vietcombank
                                                            </p>
                                                            <p class="fw-7 c-text">
                                                                Chi nhánh Cao Lộc
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="cartod-complete-bank-text">
                                                        <p class="c-text txt">
                                                            Chủ tài khoản
                                                        </p>
                                                        <div class="text">
                                                            <p class="fw-7 c-text">
                                                                NGUYỄN LÊ QUÝ TRÂN
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="cartod-complete-bank-text">
                                                        <p class="c-text txt">
                                                            Số tài khoản
                                                        </p>
                                                        <div class="text">
                                                            <p class="fw-7 c-text">
                                                                1234567890
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                            <div class="cartod-complete-bank-code">
                                                <img src="./assets/images/spt-img/QR Code.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cartod-complete-link">
                        <a href="" class="btn trans">
                            <span class="btn-inner">
                                <span class="text">
                                    Về trang chủ
                                </span>
                            </span>
                        </a>
                        <a href="" class="btn bg-pri">
                                <span class="icon">
                                    <i class="fa-light fa-bag-shopping"></i>
                                </span>
                                <span class="text">
                                    Xem chi tiết đơn
                                </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>


    </main> 

    <footer class="footer">
      <div class="footer-wrap"></div>
    </footer>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>
