<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Chi tiết đơn hàng</title>
    <link rel="stylesheet" href="./js/library/aos/aos.css" />
    <link ref="stylesheet" href="./js/library/swiper/swiper-bundle.min.css" />
  </head>

  <body>
    <header class="header">
      <div class="header-nav">
        <div class="menu-nav">
          <!-- Cấu trúc html menu -->
          <ul class="menu-list">
            <li class="menu-item current-menu-item">
              <a href="" class="menu-link"> Demo </a>
            </li>
            <li class="menu-item dropdown">
              <a href="" class="menu-link"> Demo </a>
              <ul class="menu-list">
                <li class="menu-item">
                  <a href="" class="menu-link"> Demo </a>
                </li>
                <li class="menu-item dropdown">
                  <a href="" class="menu-link"> Demo </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <main class="main">
        
        <div class="sec-cstep">
            <div class="container">
                <div class="cstep">
                    <div class="cstep-odt-steps mt-30">

                        <div class="cstep-odt-step step-pass">
                            <div class="cstep-odt-box ">
                                <div class="cstep-odt-icon">
                                    <span class="icon">
                                        <img src="./assets/images/spt-img/step1.png" alt="">
                                    </span>
                                    <span class="t16 fw-7 text">Tạo tài khoản</span>
                                </div>
                                
                            </div>
                        </div>

                        <div class="cstep-odt-step active">
                            <div class="cstep-odt-box">
                                <div class="cstep-odt-icon">
                                    <div class="liquid"></div>
                                    <span class="icon">
                                        <img src="./assets/images/spt-img/step2.png" alt="">
                                    </span>
                                    <span class="t16 fw-7 text">Đặt hàng</span>

                                </div>
                            </div>
                        </div>

                        <div class="cstep-odt-step">
                            <div class="cstep-odt-box">
                                <div class="cstep-odt-icon">
                                    <span class="icon">
                                        <img src="./assets/images/spt-img/Credit card.png" alt="">
                                    </span>
                                    <span class="t16 fw-7 text">Thanh toán</span>

                                </div>
                            </div>
                        </div>

                        <div class="cstep-odt-step">
                            <div class="cstep-odt-box">
                                <div class="cstep-odt-icon">
                                    <span class="icon">
                                        <img src="./assets/images/spt-img/step4.png" alt="">
                                    </span>
                                    <span class="t16 fw-7 text">Xác nhận đơn</span>

                                </div>
                               
                            </div>
                        </div>
                        <div class="cstep-odt-step">
                            <div class="cstep-odt-box">
                                <div class="cstep-odt-icon">
                                    <span class="icon">
                                        <img src="./assets/images/spt-img/step5.png" alt="">
                                    </span>
                                    <span class="t16 fw-7 text">Thanh toán</span>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sec-cartod sec-py ">
            <div class="container">
                <div class="cartod">
                    <div class="cartod-wrap">
                        <div class="cartod-top">
                            <div class="cartod-head">
                                <p class="t-title">
                                    Giỏ hàng
                                </p>
                                <div class="icon">
                                    <span class="c-pri"> 3</span>
                                </div>
                            </div>
                            <div class="cartod-des">
                                <span class="icon">
                                    <i class="fa-solid fa-check"></i>
                                </span>
                                <p class="fw-6">
                                    “Son nhung hoa 5g - KOLAN” đã được thêm vào giỏ hàng
                                </p>
                            </div>
                        </div>


                        <div class="cartod-block mt-50">
                            <div class="cartod-flex">
                                <div class="cartod-left">
                                    <div class="cartod-prd">
                                        <form action="">
                                            <div class="cartod-prds">

                                                <table>
                                                    <thead>
                                                      <tr>
                                                       
                                                        
                                                        <th> <span class="t16 fw-7">Sản phẩm</span></th>
                                                        <th> <span class="t16 fw-7"></span></th>
                                                        <th> <span class="t16 fw-7">Số lượng</span></th>
                                                        <th> <span class="t16 fw-7">Giá tiền</span></th>

                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr>
                                                        

                                                        <td>
                                                            <div class="cartod-prds-img">
                                                                <div class="inner">
                                                                    <img src="./assets/images/spt-img/img-cart.png" alt="">
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="cartod-prds-ctn">
                                                                <a href="" class="link">
                                                                    Son nhung hoa 5g - KOLAN Son nhung hoa 5g - KOLAN
                                                                </a>
                                                                
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="cartod-prds-count">
                                                                <div class="quantity">
                                                                    <div class="quantity-count">
                                                                      <div class="count">
                                                                        <div class="count-btn count-minus">
                                                                          <i class="fas fa-minus icon"></i>
                                                                        </div>
                                                                        <input
                                                                          type="text"
                                                                          value="1"
                                                                          max="12"
                                                                          min="0"
                                                                          class="count-input"
                                                                          hidden=""
                                                                        />
                                                                        <p class="count-number"></p>
                                                                        <div class="count-btn count-plus">
                                                                          <i class="fas fa-plus icon"></i>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="cartod-prds-price">
                                                                <span class="t20 fw-7">450.000đ</span>
                                                            </div>
                                                        </td>

                                                      </tr>
                                                      <tr>
                                                      

                                                        <td>
                                                            <div class="cartod-prds-img">
                                                                <div class="inner">
                                                                    <img src="./assets/images/spt-img/img-cart.png" alt="">
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="cartod-prds-ctn">
                                                                <a href="" class="link">
                                                                    Son nhung hoa 5g - KOLAN
                                                                </a>
                                                                
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="cartod-prds-count">
                                                                <div class="quantity">
                                                                    <div class="quantity-count">
                                                                      <div class="count">
                                                                        <div class="count-btn count-minus">
                                                                          <i class="fas fa-minus icon"></i>
                                                                        </div>
                                                                        <input
                                                                          type="text"
                                                                          value="1"
                                                                          max="12"
                                                                          min="0"
                                                                          class="count-input"
                                                                          hidden=""
                                                                        />
                                                                        <p class="count-number"></p>
                                                                        <div class="count-btn count-plus">
                                                                          <i class="fas fa-plus icon"></i>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="cartod-prds-price">
                                                                <span class="t20 fw-7">450.000đ</span>
                                                            </div>
                                                        </td>

                                                      </tr>
                                                      <tr>
                                                       

                                                        <td>
                                                            <div class="cartod-prds-img">
                                                                <div class="inner">
                                                                    <img src="./assets/images/spt-img/img-cart.png" alt="">
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="cartod-prds-ctn">
                                                                <a href="" class="link">
                                                                    Combo xà bông thiên nhiên Rau Má 80g + Bông tắm xơ mướp
                                                                </a>
                                                                
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="cartod-prds-count">
                                                                <div class="quantity">
                                                                    <div class="quantity-count">
                                                                      <div class="count">
                                                                        <div class="count-btn count-minus">
                                                                          <i class="fas fa-minus icon"></i>
                                                                        </div>
                                                                        <input
                                                                          type="text"
                                                                          value="1"
                                                                          max="12"
                                                                          min="0"
                                                                          class="count-input"
                                                                          hidden=""
                                                                        />
                                                                        <p class="count-number"></p>
                                                                        <div class="count-btn count-plus">
                                                                          <i class="fas fa-plus icon"></i>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="cartod-prds-price">
                                                                <span class="t20 fw-7">450.000đ</span>
                                                            </div>
                                                        </td>

                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                
<!-- 
                                                <div class="cartod-prds-item">
                                                    <div class="cartod-prds-gr">
                                                        <div class="cartod-prds-img">
                                                            <div class="inner">
                                                                <img src="./assets/images/cart-mini (1).jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="cartod-prds-ctn">
                                                            <a href="" class="link">
                                                                Son nhung hoa 5g - KOLAN
                                                            </a>
                                                            
                                                        </div>
                                                        <div class="cartod-prds-count">
                                                            <div class="quantity">
                                                                <div class="quantity-count">
                                                                  <div class="count">
                                                                    <div class="count-btn count-minus">
                                                                      <i class="fas fa-minus icon"></i>
                                                                    </div>
                                                                    <input
                                                                      type="text"
                                                                      value="1"
                                                                      max="12"
                                                                      min="0"
                                                                      class="count-input"
                                                                      hidden=""
                                                                    />
                                                                    <p class="count-number"></p>
                                                                    <div class="count-btn count-plus">
                                                                      <i class="fas fa-plus icon"></i>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                        </div>
                                                        <div class="cartod-prds-price">
                                                            <span class="t20 fw-7">450.000đ</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cartod-prds-item">
                                                    <div class="cartod-prds-gr">
                                                        <div class="cartod-prds-img">
                                                            <div class="inner">
                                                                <img src="./assets/images/cart-mini (1).jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="cartod-prds-ctn">
                                                            <a href="" class="link">
                                                                Son nhung hoa 5g - KOLAN
                                                            </a>
                                                            
                                                        </div>
                                                        <div class="cartod-prds-count">
                                                            <div class="quantity">
                                                                <div class="quantity-count">
                                                                  <div class="count">
                                                                    <div class="count-btn count-minus">
                                                                      <i class="fas fa-minus icon"></i>
                                                                    </div>
                                                                    <input
                                                                      type="text"
                                                                      value="1"
                                                                      max="12"
                                                                      min="0"
                                                                      class="count-input"
                                                                      hidden=""
                                                                    />
                                                                    <p class="count-number"></p>
                                                                    <div class="count-btn count-plus">
                                                                      <i class="fas fa-plus icon"></i>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                        </div>
                                                        <div class="cartod-prds-price">
                                                            <span class="t20 fw-7">450.000đ</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cartod-prds-item">
                                                    <div class="cartod-prds-gr">
                                                        <div class="cartod-prds-img">
                                                            <div class="inner">
                                                                <img src="./assets/images/cart-mini (1).jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="cartod-prds-ctn">
                                                            <a href="" class="link">
                                                                Son nhung hoa 5g - KOLAN
                                                            </a>
                                                            
                                                        </div>
                                                        <div class="cartod-prds-count">
                                                            <div class="quantity">
                                                                <div class="quantity-count">
                                                                  <div class="count">
                                                                    <div class="count-btn count-minus">
                                                                      <i class="fas fa-minus icon"></i>
                                                                    </div>
                                                                    <input
                                                                      type="text"
                                                                      value="1"
                                                                      max="12"
                                                                      min="0"
                                                                      class="count-input"
                                                                      hidden=""
                                                                    />
                                                                    <p class="count-number"></p>
                                                                    <div class="count-btn count-plus">
                                                                      <i class="fas fa-plus icon"></i>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                        </div>
                                                        <div class="cartod-prds-price">
                                                            <span class="t20 fw-7">450.000đ</span>
                                                        </div>
                                                    </div>
                                                </div> -->


                                            </div>
                                            <div class="cartod-prds-update">
                                                <button type="submit">
                                                    <span href="" class="btn bg-pri">
                                                        <span class="icon">
                                                            <i class="fa-solid fa-arrows-rotate"></i>
                                                        </span>
                                                        <span class="text">
                                                            Cập nhật giỏ hàng
                                                        </span>
                                                    </span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                                <div class="cartod-right">
                                    <div class="cartod-dt">
                                        <div class="cartod-dt-inner">
                                            <p class="c-white t24 fw-7 t-center mb-20">
                                                Tóm tắt đơn hàng
                                            </p>
                                            <div class="cartod-dt-block">
                                                <div class="cartod-total-if mb-20">
                                                    <p class="c-white">
                                                        Thành tiền
                                                    </p>
                                                    <p class="c-white t16 fw-7">
                                                        4,500,000đ
                                                    </p>
                                                </div>
                                                <div class="cartod-total-if">
                                                    <p class="c-white">
                                                        Vận chuyển
                                                    </p>
                                                    <p class="c-white fw-7">
                                                        Liên hệ phí vận chuyển sau
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="cartod-dt-form">
                                                <form action="">
                                                    <div class="cartod-dt-control">
                                                        <input class="input-discount" type="text" placeholder="Mã giảm giá">
                                                        <button type="submit" class="btn bg-white">
                                                                <span class="text">
                                                                    Sử dụng
                                                                </span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="cartod-total-if mt-30">
                                                <p class="c-white t16 fw-7">
                                                    Tổng cộng
                                                </p>
                                                <p class="c-white fw-7 t16">
                                                    4,500,000đ
                                                </p>
                                            </div>
                                            <div class="cartod-dt-btns mt-30">
                                                
                                                <button type="submit" class="btn bg-white">
                                                        <span class="icon">
                                                            <i class="fa-light fa-bag-shopping"></i>
                                                        </span>
                                                        <span class="text">
                                                            Đặt mua
                                                        </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main> 

    <footer class="footer">
      <div class="footer-wrap"></div>
    </footer>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>
