<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>History Section</title>
    <link rel="stylesheet" href="./js/library/aos/aos.css" />
    <link ref="stylesheet" href="./js/library/swiper/swiper-bundle.min.css" />
  </head>

  <body>
    <header class="header">
      <div class="header-nav">
        <div class="menu-nav">
          <!-- Cấu trúc html menu -->
          <ul class="menu-list">
            <li class="menu-item current-menu-item">
              <a href="" class="menu-link"> Demo </a>
            </li>
            <li class="menu-item dropdown">
              <a href="" class="menu-link"> Demo </a>
              <ul class="menu-list">
                <li class="menu-item">
                  <a href="" class="menu-link"> Demo </a>
                </li>
                <li class="menu-item dropdown">
                  <a href="" class="menu-link"> Demo </a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="btn side-open">
            <div class="btn-inner">
              <span class="icon">
                <i class="fas fa-shopping-cart"></i>
              </span>
            </div>
          </div>

         <!-- Have To Cart -->
         <div class="cmini side-fixed">
          <div class="cmini-wrap">
            <div class="side-close">
              <div class="icon"><i class="fas fa-times"></i></div>
            </div>
            <p class="t-title t-center mb-30">Giỏ hàng</p>
            <div class="cmini-list">
              <div class="cmini-item">
                <div class="cmini-img">
                  <img src="./assets/images/spt-img/cart-img.png" alt="" />
                </div>
                <div class="cmini-content">
                  <a href="" class="cart-name t16 fw-6">Giày cầu lông Kawasaki K063</a>
                  <div class="cmini-count">
                    <div class="quantity">
                      <div class="quantity-count">
                        <div class="count">
                          <div class="count-btn count-minus">
                            <i class="fas fa-minus icon"></i>
                          </div>
                          <input
                            type="text"
                            value="1"
                            max="12"
                            min="0"
                            class="count-input"
                            hidden=""
                          />
                          <p class="count-number"></p>
                          <div class="count-btn count-plus">
                            <i class="fas fa-plus icon"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cmini-price">
                  <span>450.000đ</span>
                </div>
              </div>
              <div class="cmini-item">
                <div class="cmini-img">
                  <img src="./assets/images/spt-img/cart-img2.png" alt="" />
                </div>
                <div class="cmini-content">
                  <a href="" class="cart-name t16 fw-6">Vợt cầu lông Yonex Nanoray Z Speed</a>
                  <div class="cmini-count">
                    <div class="quantity">
                      <div class="quantity-count">
                        <div class="count">
                          <div class="count-btn count-minus">
                            <i class="fas fa-minus icon"></i>
                          </div>
                          <input
                            type="text"
                            value="1"
                            max="12"
                            min="0"
                            class="count-input"
                            hidden=""
                          />
                          <p class="count-number"></p>
                          <div class="count-btn count-plus">
                            <i class="fas fa-plus icon"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cmini-price">
                  <span>1.450.000đ</span>
                </div>
              </div>
              <div class="cmini-item">
                <div class="cmini-img">
                  <img src="./assets/images/spt-img/cart-img.png" alt="" />
                </div>
                <div class="cmini-content">
                  <a href="" class="cart-name t16 fw-6">Giày Kason FYTL018-2</a>
                  <div class="cmini-count">
                    <div class="quantity">
                      <div class="quantity-count">
                        <div class="count">
                          <div class="count-btn count-minus">
                            <i class="fas fa-minus icon"></i>
                          </div>
                          <input
                            type="text"
                            value="1"
                            max="12"
                            min="0"
                            class="count-input"
                            hidden=""
                          />
                          <p class="count-number"></p>
                          <div class="count-btn count-plus">
                            <i class="fas fa-plus icon"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cmini-price">
                  <span>1.450.000đ</span>
                </div>
              </div>
              <div class="cmini-item">
                <div class="cmini-img">
                  <img src="./assets/images/spt-img/cart-img2.png" alt="" />
                </div>
                <div class="cmini-content">
                  <a href="" class="cart-name t16 fw-6">Vợt cầu lông Yonex Nanoray Z Speed</a>
                  <div class="cmini-count">
                    <div class="quantity">
                      <div class="quantity-count">
                        <div class="count">
                          <div class="count-btn count-minus">
                            <i class="fas fa-minus icon"></i>
                          </div>
                          <input
                            type="text"
                            value="1"
                            max="12"
                            min="0"
                            class="count-input"
                            hidden=""
                          />
                          <p class="count-number"></p>
                          <div class="count-btn count-plus">
                            <i class="fas fa-plus icon"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cmini-price">
                  <span>1.450.000đ</span>
                </div>
              </div>
              <div class="cmini-item">
                <div class="cmini-img">
                  <img src="./assets/images/spt-img/cart-img.png" alt="" />
                </div>
                <div class="cmini-content">
                  <a href="" class="cart-name t16 fw-6">Giày Kason FYTL018-2</a>
                  <div class="cmini-count">
                    <div class="quantity">
                      <div class="quantity-count">
                        <div class="count">
                          <div class="count-btn count-minus">
                            <i class="fas fa-minus icon"></i>
                          </div>
                          <input
                            type="text"
                            value="1"
                            max="12"
                            min="0"
                            class="count-input"
                            hidden=""
                          />
                          <p class="count-number"></p>
                          <div class="count-btn count-plus">
                            <i class="fas fa-plus icon"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cmini-price">
                  <span>1.450.000đ</span>
                </div>
              </div>
            </div>
            <div class="cmini-total">
              <span class="t20 fw-7">Tổng cộng</span>
              <span class="t20 fw-7 c-four">4.500.000đ</span>
            </div>
            <div class="cmini-control">
              <a href="" class="btn trans full">
                <span class="btn-inner">
                  <span class="text"> Xem giỏ hàng </span>
                </span>
              </a>
              <a href="" class="btn bg-pri full">
                  <span class="icon">
                    <i class="fas fa-shopping-cart"></i>
                  </span>
                  <span class="text"> Đặt mua </span>
              </a>
            </div>
          
          </div>

          <!-- cart empty -->
          <div class="cmini-wrap cart-empty">
            <div class="cart-empty-decor">
              <img src="assets/images/spt-img/cart-de.png" alt="">
            </div>
            <div class="side-close">
              <div class="icon"><i class="fas fa-times"></i></div>
            </div>
            <div class="cart-empty-content">
              <p class="t-title t-center mb-20">Giỏ hàng</p>
              <p class="text t-center t16 fw-4 mb-20">
                Hiện tại giỏ hàng của bạn đang trống
              </p>
              <div class="icon-cart-empty t-center mb-30">
                <img
                  src="./assets/images/spt-img/cart-empty.png"
                  alt=""
                />
              </div>
              <a href="" class="btn bg-pri">
                <span class="btn-inner">
                  <span class="text"> Quay lại trang chủ </span>
                </span>
              </a>
            </div>

        
          </div>
        </div>

        </div>
      </div>
    </header>

    <main class="main">
      <div class="history">
        <div class="history-decor">
          <img src="assets/images/spt-img/rose-his.png" alt="">
        </div>
        <div class="history-decor">
          <img src="assets/images/spt-img/his-de.png" alt="">
        </div>
        <div class="history-wrap">
          <div class="history-title d-flex align-center">
            <span class=" text t64 fw-7 d-flex align-center c-pri"
              ><span class="num">51</span>+ năm &nbsp;</span
            >
            <span class="t56 fw-7 text"> chăm sóc sắc đẹp Việt </span>
          </div>
          <div class="history-content">
            <div class="history-swiper">
              <div class="swiper historySwiper2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="history-content d-flex">
                      <div class="history-left">
                        <div class="box">
                          <img
                            src="https://swiperjs.com/demos/images/nature-1.jpg"
                          />
                        </div>
                      </div>
                      <div class="history-right">
                        <div class="history-desc">
                          <div class="year c-pri fw-7">1972</div>
                          <div class="desc t24 fw-7">
                            Hình thành thương hiệu dược mỹ phẩm KOLAN
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="history-content d-flex">
                      <div class="history-left">
                        <div class="box">
                          <img
                            src="https://swiperjs.com/demos/images/nature-1.jpg"
                          />
                        </div>
                      </div>
                      <div class="history-right">
                        <div class="history-desc">
                          <div class="year c-pri fw-7">1982</div>
                          <div class="desc t24 fw-7">
                            Hình thành thương hiệu dược mỹ phẩm KOLAN
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="history-content d-flex">
                      <div class="history-left">
                        <div class="box">
                          <img
                            src="https://swiperjs.com/demos/images/nature-1.jpg"
                          />
                        </div>
                      </div>
                      <div class="history-right">
                        <div class="history-desc">
                          <div class="year c-pri fw-7">2000</div>
                          <div class="desc t24 fw-7">
                            Hình thành thương hiệu dược mỹ phẩm KOLAN
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="history-content d-flex">
                      <div class="history-left">
                        <div class="box">
                          <img
                            src="https://swiperjs.com/demos/images/nature-1.jpg"
                          />
                        </div>
                      </div>
                      <div class="history-right">
                        <div class="history-desc">
                          <div class="year c-pri fw-7">2001</div>
                          <div class="desc t24 fw-7">
                            Hình thành thương hiệu dược mỹ phẩm KOLAN
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="history-content d-flex">
                      <div class="history-left">
                        <div class="box">
                          <img
                            src="https://swiperjs.com/demos/images/nature-1.jpg"
                          />
                        </div>
                      </div>
                      <div class="history-right">
                        <div class="history-desc">
                          <div class="year c-pri fw-7">2002</div>
                          <div class="desc t24 fw-7">
                            Hình thành thương hiệu dược mỹ phẩm KOLAN
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="history-content d-flex">
                      <div class="history-left">
                        <div class="box">
                          <img
                            src="https://swiperjs.com/demos/images/nature-1.jpg"
                          />
                        </div>
                      </div>
                      <div class="history-right">
                        <div class="history-desc">
                          <div class="year c-pri fw-7">2003</div>
                          <div class="desc t24 fw-7">
                            Hình thành thương hiệu dược mỹ phẩm KOLAN
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="history-content d-flex">
                      <div class="history-left">
                        <div class="box">
                          <img
                            src="https://swiperjs.com/demos/images/nature-1.jpg"
                          />
                        </div>
                      </div>
                      <div class="history-right">
                        <div class="history-desc">
                          <div class="year c-pri fw-7">2004</div>
                          <div class="desc t24 fw-7">
                            Hình thành thương hiệu dược mỹ phẩm KOLAN
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div thumbsSlider="" class="swiper historySwiper timeline mt-50">
                <div class="swiper-wrapper timeline-wrap">
                  <div class="swiper-slide">
                    <div class="timeline-box">
                      <div class="timeline-year t36 fw-6 ">
                        1972
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="timeline-box">
                      <div class="timeline-year t36 fw-6 ">
                        1982
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="timeline-box">
                      <div class="timeline-year t36 fw-6 ">
                        2000
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="timeline-box">
                      <div class="timeline-year t36 fw-6 ">
                        2001
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="timeline-box">
                      <div class="timeline-year t36 fw-6 ">
                        2002
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="timeline-box">
                      <div class="timeline-year t36 fw-6 ">
                        2003
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="timeline-box">
                      <div class="timeline-year t36 fw-6 ">
                        2004
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="side-overlay"></div>
    <div class="side-overlay x2"></div>



    <footer class="footer">
      <div class="footer-wrap"></div>
    </footer>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>

  </body>
</html>
