<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>History Section</title>
    <link rel="stylesheet" href="./js/library/aos/aos.css" />
    <link ref="stylesheet" href="./js/library/swiper/swiper-bundle.min.css" />
  </head>

  <body>
    <header class="header">
      <div class="header-nav">
        <div class="menu-nav">
          <!-- Cấu trúc html menu -->
          <ul class="menu-list">
            <li class="menu-item current-menu-item">
              <a href="" class="menu-link"> Demo </a>
            </li>
            <li class="menu-item dropdown">
              <a href="" class="menu-link"> Demo </a>
              <ul class="menu-list">
                <li class="menu-item">
                  <a href="" class="menu-link"> Demo </a>
                </li>
                <li class="menu-item dropdown">
                  <a href="" class="menu-link"> Demo </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <main class="main">
      <div class="history">
        <div class="history-wrap">
          <div class="history-title d-flex align-center">
            <span class=" text t64 fw-7 d-flex align-center c-pri"
              ><span class="num">51</span>+ năm &nbsp;</span
            >
            <span class="t56 fw-7 text"> chăm sóc sắc đẹp Việt </span>
          </div>
          <div class="history-content">
            <div class="history-swiper">
              <div class="swiper historySwiper2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="history-content d-flex">
                      <div class="history-left">
                        <div class="box">
                          <img
                            src="https://swiperjs.com/demos/images/nature-1.jpg"
                          />
                        </div>
                      </div>
                      <div class="history-right">
                        <div class="history-desc">
                          <div class="year c-pri fw-7">1972</div>
                          <div class="desc t24 fw-7">
                            Hình thành thương hiệu dược mỹ phẩm KOLAN
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="history-content d-flex">
                      <div class="history-left">
                        <div class="box">
                          <img
                            src="https://swiperjs.com/demos/images/nature-1.jpg"
                          />
                        </div>
                      </div>
                      <div class="history-right">
                        <div class="history-desc">
                          <div class="year c-pri fw-7">1982</div>
                          <div class="desc t24 fw-7">
                            Hình thành thương hiệu dược mỹ phẩm KOLAN
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="history-content d-flex">
                      <div class="history-left">
                        <div class="box">
                          <img
                            src="https://swiperjs.com/demos/images/nature-1.jpg"
                          />
                        </div>
                      </div>
                      <div class="history-right">
                        <div class="history-desc">
                          <div class="year c-pri fw-7">2000</div>
                          <div class="desc t24 fw-7">
                            Hình thành thương hiệu dược mỹ phẩm KOLAN
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="history-content d-flex">
                      <div class="history-left">
                        <div class="box">
                          <img
                            src="https://swiperjs.com/demos/images/nature-1.jpg"
                          />
                        </div>
                      </div>
                      <div class="history-right">
                        <div class="history-desc">
                          <div class="year c-pri fw-7">2001</div>
                          <div class="desc t24 fw-7">
                            Hình thành thương hiệu dược mỹ phẩm KOLAN
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="history-content d-flex">
                      <div class="history-left">
                        <div class="box">
                          <img
                            src="https://swiperjs.com/demos/images/nature-1.jpg"
                          />
                        </div>
                      </div>
                      <div class="history-right">
                        <div class="history-desc">
                          <div class="year c-pri fw-7">2002</div>
                          <div class="desc t24 fw-7">
                            Hình thành thương hiệu dược mỹ phẩm KOLAN
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="history-content d-flex">
                      <div class="history-left">
                        <div class="box">
                          <img
                            src="https://swiperjs.com/demos/images/nature-1.jpg"
                          />
                        </div>
                      </div>
                      <div class="history-right">
                        <div class="history-desc">
                          <div class="year c-pri fw-7">2003</div>
                          <div class="desc t24 fw-7">
                            Hình thành thương hiệu dược mỹ phẩm KOLAN
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="history-content d-flex">
                      <div class="history-left">
                        <div class="box">
                          <img
                            src="https://swiperjs.com/demos/images/nature-1.jpg"
                          />
                        </div>
                      </div>
                      <div class="history-right">
                        <div class="history-desc">
                          <div class="year c-pri fw-7">2004</div>
                          <div class="desc t24 fw-7">
                            Hình thành thương hiệu dược mỹ phẩm KOLAN
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div thumbsSlider="" class="swiper historySwiper timeline mt-50">
                <div class="swiper-wrapper timeline-wrap">
                  <div class="swiper-slide">
                    <div class="timeline-box">
                      <div class="timeline-year t36 fw-6 ">
                        1972
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="timeline-box">
                      <div class="timeline-year t36 fw-6 ">
                        1982
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="timeline-box">
                      <div class="timeline-year t36 fw-6 ">
                        2000
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="timeline-box">
                      <div class="timeline-year t36 fw-6 ">
                        2001
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="timeline-box">
                      <div class="timeline-year t36 fw-6 ">
                        2002
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="timeline-box">
                      <div class="timeline-year t36 fw-6 ">
                        2003
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="timeline-box">
                      <div class="timeline-year t36 fw-6 ">
                        2004
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="footer-wrap"></div>
    </footer>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>
