<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-wrap">
                <div class="header-burger">
                    <div class="hamburger" id="hamburger">
                        <label for="menu_checkbox" class="hamburger-label">
                            <div class="hamburger-text"></div>
                        </label>
                    </div>
                </div>
                <div class="header-nav">
                    <div class="menu-nav">
                        <ul class="menu-list">
                            <li class="menu-item current-menu-item">
                                <a href="" class="menu-link">
                                    Trang chủ
                                </a>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="" class="menu-link">
                                    Giới thiệu
                                </a>
                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Demo
                                        </a>
                                    </li>
                                    <li class="menu-item dropdown">
                                        <a href="" class="menu-link">
                                            Demo
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Sản phẩm
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Khuyến mãi
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-logo">
                    <a href="" class="custom-logo-link">
                        <img src="./assets/images/logo.png" alt="">
                    </a>
                </div>
                <div class="header-py">
                    <div class="header-gr">
                        <div class="header-nav">
                            <div class="menu-nav">
                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a href="" class="menu-link">Kolan</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="header-ctr">
                            <div class="header-ctr-inner">
                                <div class="header-search">
                                    <form action="">
                                        <div class="ip-control">
                                            <input placeholder="Tìm kiếm sản phẩm" type="text">
                                            <button class="btn-icon">
                                                <span class="icon">
                                                    <i class="fa-light fa-magnifying-glass"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="header-action">
                                    <div class="header-action-gr">
                                        <!-- chưa đăng nhập 
                                        <div class="header-action-btn">
                                            <a href="" class="icon">
                                                <i class="fa-light fa-user"></i>
                                            </a>
                                        </div>
                                        -->
                                        <!-- Đã đăng nhập -->
                                        <div class="header-action-profile">
                                            <div class="icon-avt">
                                                <img src="./assets/images/icon-avt.jpg" alt="">
                                            </div>
                                            <a href="" class="tname">
                                                Trà My
                                            </a>
                                        </div>
                                        <div class="header-action-btn header-cart">
                                            <a href="" class="icon">
                                                <i class="fa-light fa-bag-shopping"></i>
                                            </a>
                                            <span class="tnum">
                                                9+
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-overlay open"></div>
        <div class="mobile open">
            <div class="mobile-con">
                <div class="mobile-wr">
                    <div class="header-search">
                        <form action="">
                            <div class="ip-control">
                                <input placeholder="Tìm kiếm sản phẩm" type="text">
                                <button class="btn-icon">
                                    <span class="icon">
                                        <i class="fa-light fa-magnifying-glass"></i>
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="mobile-nav">
                        <div class="menu-nav menu-have-icon">
                            <ul id="menu-menu-header-main-mobile" class="menu-list">
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Trang chủ</a>
                                </li>
                                <li class="menu-item parent fz16 fw6 dropdown">
                                    <a class="menu-link" href="">Giới thiệu</a>
                                    <ul class="menu-list">
                                        <li class="menu-item parent fz16 fw6 menu-item">
                                            <a class="menu-link" href="">Submenu 1 </a>
                                        </li>
                                        <li class="menu-item parent fz16 fw6 menu-item">
                                            <a class="menu-link" href="">Submenu 2
                                            </a>
                                        </li>
                                        <li class="menu-item parent fz16 fw6 menu-item">
                                            <a class="menu-link" href="">Submenu 3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Sản phẩm</a>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Khuyến mãi</a>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Kolan</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="mobile-if">
                        <div class="mobile-if-list">
                            <div class="mobile-if-item">
                                <div class="mobile-if-gr">
                                    <span class="icon">
                                        <i class="fa-light fa-location-dot"></i>
                                    </span>
                                    <p class="text">
                                        <sapn class="fw-7">Địa chỉ:</sapn>Số 1 Phan Văn Trường, Phường Cầu Ông Lãnh,
                                        Quận 1, Thành phố Hồ Chí Minh
                                    </p>
                                </div>
                            </div>
                            <div class="mobile-if-item">
                                <div class="mobile-if-gr">
                                    <span class="icon">
                                        <i class="fa-light fa-phone"></i>
                                    </span>
                                    <p class="text">
                                        <sapn class="fw-7">Số điện thoại:</sapn> 0938.663.308
                                    </p>
                                </div>
                            </div>

                            <div class="mobile-if-item">
                                <div class="mobile-if-gr">
                                    <span class="icon">
                                        <i class="fa-light fa-envelope"></i>
                                    </span>
                                    <p class="text">
                                        <sapn class="fw-7">Email:</sapn> Kolan.tmdt@gmail.com
                                    </p>
                                </div>
                            </div>
                            <div class="mobile-if-item">
                                <div class="mobile-if-gr">
                                    <span class="icon">
                                        <i class="fa-light fa-clock"></i>
                                    </span>
                                    <p class="text">
                                        Thứ 2 - Thứ 6: từ 8h đến 18h <br>
                                        Thứ 7 và Chủ nhật từ 8h00 đến 17h00
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-mxh">
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/facebook.png" alt="">
                </a>
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/youtube.png" alt="">
                </a>
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/instagram.png" alt="">
                </a>
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/twitter.png" alt="">
                </a>
            </div>
        </div>
    </header>
    <main class="main">

    </main>
    <footer class="footer">
        <div class="footer-wrap">
        </div>
    </footer>
    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>