<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Bài viết chi tiết</title>
    <link rel="stylesheet" href="./js/library/aos/aos.css" />
    <link ref="stylesheet" href="./js/library/swiper/swiper-bundle.min.css" />
  </head>

  <body>
    <header class="header">
      <div class="header-nav">
        <div class="menu-nav">
          <!-- Cấu trúc html menu -->
          <ul class="menu-list">
            <li class="menu-item current-menu-item">
              <a href="" class="menu-link"> Demo </a>
            </li>
            <li class="menu-item dropdown">
              <a href="" class="menu-link"> Demo </a>
              <ul class="menu-list">
                <li class="menu-item">
                  <a href="" class="menu-link"> Demo </a>
                </li>
                <li class="menu-item dropdown">
                  <a href="" class="menu-link"> Demo </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <main class="main">
      <div class="pcontact sec-py">
        <div class="pcontact-wrap">
        <div class="pcontact-flex">

          <div class="pcontact-left">
            <div class="pcontact-info">
              <div class="pcontact-info-inner">
                <p class="t-title fw-6 mb-30">
                    thông tin liên hệ
                </p>
                <div class="pcontact-info-item">
                  <div class="pcontact-info-gr">
                    <div class="icon">
                      <img src="./assets/images/spt-img/location 1.png" alt="" />
                    </div>
                    <div class="bgroup">
                      <a href="" class="t14">
                        Số 1 Phan Văn Trường, Phường Cầu Ông Lãnh, Quận 1, Thành
                        phố Hồ Chí Minh
                      </a>
                    </div>
                  </div>
                </div>
                <div class="pcontact-info-item">
                  <div class="pcontact-info-gr">
                    <div class="icon">
                      <img src="./assets/images/spt-img/Email.png" alt="" />
                    </div>
                    <div class="bgroup">
                      <a href="" class="t14"> Kolan.tmdt@gmail.com </a>
                    </div>
                  </div>
                </div>
                <div class="pcontact-info-item">
                  <div class="pcontact-info-gr">
                    <div class="icon">
                      <img src="./assets/images/spt-img/phone.png" alt="" />
                    </div>
                    <div class="bgroup">
                      <a href="" class="t14"> 0938.663.308 </a>
                    </div>
                  </div>
                </div>
                <div class="pcontact-info-item">
                  <div class="pcontact-info-gr">
                    <div class="icon">
                      <img src="./assets/images/spt-img/clock.png" alt="" />
                    </div>
                    <div class="bgroup">
                      <a href="" class="t14">
                        Thứ 2 - Thứ 6: từ 8h đến 18h<br />
                        Thứ 7 và Chủ nhật từ 8h00 đến 17h00
                      </a>
                    </div>
                  </div>
                </div>
                <div class="pcontact-info-item">
                  <div class="social d-flex">
                    <a href="" class="icon">
                      <img src="assets/images/spt-img/icon-y.png" alt="" />
                    </a>
                    <a class="icon">
                      <img src="assets/images/spt-img/icon-i.png" alt="" />
                    </a>
                    <a class="icon">
                      <img src="assets/images/spt-img/icon-t.png" alt="" />
                    </a>
                    <a class="icon">
                      <img src="assets/images/spt-img/icon-f.png" alt="" />
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="pcontact-mid">
            <div class="pcontact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31355.110504144213!2d106.68182216236919!3d10.78150357775836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528ebc3412f75%3A0x41abaab319971a07!2sC%C3%94NG%20TY%20TNHH%20KOLAN!5e0!3m2!1svi!2s!4v1692955095094!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
          </div>


          <div class="pcontact-right">
            <div class="pcontact-form">
                <div class="pcontact-form-inner">
                    <p class="t-title fw-6 mb-30">
                        Gửi thắc mắc
                    </p>
                    <form action="">
                        <div class="pcontact-form-list">
                            <div class="ip-control">
                                <label for="" class="t-label mb-10">Họ và tên <span
                                        class="c-third">*</span> </label>
                                <input placeholder="Nhập họ và tên của bạn" type="text">
                            </div>
                           
                            <div class="ip-control mb-10 x2">
                                <label for="" class="t-label mb-10">Email <span
                                        class="c-third">*</span></label>
                                <input placeholder="Số điện thoại của bạn" type="text">
                            </div>
                            <div class="ip-control x2">
                                <label for="" class="t-label mb-10">Số điện thoại <span
                                        class="c-third">*</span> </label>
                                <input placeholder="Nhập số điện thoại" type="text">
                            </div>
                            <div class="ip-control">
                                <label for="" class="t-label mb-10">Nội dung tin nhắn <span
                                        class="c-third">*</span></label>
                                <textarea name="" id="" placeholder="Nhập nội dung"></textarea>
                            </div>
                        </div>
                        <div class="pcontact-btn">
                            <button type="submit" class="btn bg-pri">
                                <span class="icon">
                                    <i class="fa-regular fa-paper-plane"></i>
                                </span>
                                    <span class="text">
                                        Gửi cho chúng tôi
                                    </span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="pcontact-form-decor">
                    <img src="assets/images/spt-img/hoa.png" alt="">
                </div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="footer-wrap"></div>
    </footer>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>
