<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Thông tin tài khoản</title>
    <link rel="stylesheet" href="./js/library/aos/aos.css" />
    <link ref="stylesheet" href="./js/library/swiper/swiper-bundle.min.css" />
  </head>

  <body>
    <header class="header">
      <div class="header-nav">
        <div class="menu-nav">
          <!-- Cấu trúc html menu -->
          <ul class="menu-list">
            <li class="menu-item current-menu-item">
              <a href="" class="menu-link"> Demo </a>
            </li>
            <li class="menu-item dropdown">
              <a href="" class="menu-link"> Demo </a>
              <ul class="menu-list">
                <li class="menu-item">
                  <a href="" class="menu-link"> Demo </a>
                </li>
                <li class="menu-item dropdown">
                  <a href="" class="menu-link"> Demo </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <main class="main">
        
        <div class="sec-pfcus mt-30">
            <div class="sec-pfcus-decor">
                <img src="assets/images/spt-img/pfcus-decor.png" alt="">
            </div>
            <div class="sec-pfcus-decor bot">
                <img src="assets/images/spt-img/rose.png" alt="">
            </div>
            <div class="container">
                <div class="breadcrumb">
                    <div class="t14 breadcrumb-link">
                      <a href="">Trang chủ /</a>
                      <a href="" class="t14 fw-7 current"
                        >Thông tin tài khoản</a
                      >
                    </div>
                  </div>
                <div class="pfcus mt-30">
                    <div class="pfcus-wrap">
                        <div class="pfcus-inner">
                            <div class="pfcus-flex">
                                <div class="pfcus-left">
                                    <div class="pfcus-tab">
                                        <div class="pfcus-head">
                                            <div class="pfcus-head-gr">
                                                <div class="icon-avt">
                                                    <img src="./assets/images/spt-img/avtmini.png" alt="">
                                                </div>
                                                <div class="pfcus-head-tgr">
                                                    <p class="tname">
                                                        Trà My
                                                    </p>
                                                    <a href="" class="tlink">Đăng xuất</a>
                                                </div>
                                            </div>
                                            <div class="pfcus-tab-list">
                                                <div class="pfcus-tab-item active">
                                                    <a href="" class="btn full">
                                                        <span class="icon">
                                                            <i class="fa-regular fa-user"></i>
                                                        </span>
                                                        <span class="text">
                                                            Thông tin tài khoản
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="pfcus-tab-item ">
                                                    <a href="" class="btn full">
                                                        <span class="icon">
                                                            <i class="fa-regular fa-lock-keyhole"></i>
                                                        </span>
                                                        <span class="text">
                                                            Thay đổi mật khẩu
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="pfcus-tab-item ">
                                                    <a href="" class="btn full">
                                                        <span class="icon">
                                                            <i class="fa-light fa-calendar-clock"></i>
                                                        </span>
                                                        <span class="text">
                                                            Lịch sử mua hàng
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pfcus-right">
                                    <div class="pfcus-info ">
                                        <form action="">
                                            <div class="pfcus-info-top">
                                                <p class="t24 fw-7 mb-20">
                                                    Thông tin tài khoản
                                                </p>
                                                <div class="pfcus-info-top-gr">
                                                    <div class="pfcus-info-top-image">
                                                        <div class="icon-avt preview-img">
                                                            <img src="./assets/images/spt-img/avt.png" alt="">
                                                        </div>
                                                        <label for="up-file-avt" class="t-gr">
                                                            <span class="icon">
                                                                <img src="./assets/images/spt-img/icon-camera.png" alt="">
                                                            </span>
                                                            <span class="text fw-7 c-pri">Chọn ảnh</span>
                                                            <input hidden id="up-file-avt" type="file"
                                                                class="upload-image">
                                                        </label>
                                                    </div>
                                                    <div class="pfcus-info-top-form">
                                                        <form action="">
                                                            <div class="pfcus-info-top-form-gr">
                                                                <div class="ip-control x2">
                                                                    <label for="" class="t-label">
                                                                        Họ và tên <span class="c-four">
                                                                            *
                                                                        </span>
                                                                    </label>
                                                                    <input placeholder="Trà My" type="text">
                                                                </div>
                                                                <div class="ip-control x2">
                                                                    <label for="" class="t-label">
                                                                        Ngày sinh
                                                                    </label>
                                                                    <input type="text" placeholder="dd/mm/yyyy">
                                                                </div>
                                                                <div class="ip-control x2">
                                                                    <label for="" class="t-label">
                                                                        Email<span class="c-four">
                                                                            *
                                                                        </span>
                                                                    </label>
                                                                    <input placeholder="Email của bạn" type="email">
                                                                </div>
                                                                <div class="ip-control x2">
                                                                    <label for="" class="t-label">
                                                                        Số điện thoại<span class="c-four">
                                                                            *
                                                                        </span>
                                                                    </label>
                                                                    <input placeholder="Số điện thoại của bạn"
                                                                        type="text">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pfcus-info-bot">
                                                <p class="t24 fw-7 mb-20">
                                                    Thông tin giao hàng
                                                </p>
                                                <div class="pfcus-info-bot-form">

                                                    <div class="pfcus-info-bot-form-gr">
                                                        <div class="ip-control x3">
                                                            <label for="" class="t-label">
                                                                Tỉnh/thành phố <span class="c-four">*</span>
                                                            </label>
                                                            <div class="pfcus-select">
                                                                <select class="re-select-main" name="state">
                                                                    <option value="AL" selected disabled>Chọn tỉnh/thành
                                                                        phố</option>
                                                                    <option value="WY">Wyoming</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="ip-control x3">
                                                            <label for="" class="t-label">
                                                                Quận/huyện<span class="c-four">*</span>
                                                            </label>
                                                            <div class="pfcus-select">
                                                                <select class="re-select-main" name="state">
                                                                    <option value="AL" selected disabled>Chọn quận/huyện
                                                                    </option>
                                                                    <option value="WY">Wyoming</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="ip-control x3">
                                                            <label for="" class="t-label">
                                                                Phường/xã<span class="c-four">*</span>
                                                            </label>
                                                            <div class="pfcus-select">
                                                                <select class="re-select-main" name="state">
                                                                    <option value="AL" selected disabled>Chọn phường/xã
                                                                    </option>
                                                                    <option value="WY">Wyoming</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="ip-control">
                                                            <label for="" class="t-label">
                                                                Địa chỉ<span class="c-four">*</span>
                                                            </label>
                                                            <input placeholder="Địa chỉ của bạn" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit">
                                                <a href="#" class="btn bg-pri full">
                                                    <span class="text">
                                                        Lưu thay đổi
                                                    </span>
                                                </a>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="footer">
      <div class="footer-wrap"></div>
    </footer>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>
